body{
  display: flex;
  text-align: center;
  justify-content: center;
  color: #999550;
  background-color: #FFFAEB;
}

form { 
  border: 3px solid #999550;
  background-color: 	#7AB6FF;
} 
  
input[type=text]{ 
  width: 80%; 
  padding: 12px 20px; 
  margin: 8px 0; 
  display: inline-block; 
  border: 1px solid #ccc; 
  box-sizing: border-box; 
}  
  
button { 
  background-color: #A7C1CC; 
  color: #999550; 
  padding: 14px 20px; 
  margin: 8px 0; 
  border: none; 
  cursor: pointer; 
  width: 80%; 
}
  
.container { 
  border: 3px solid #7AB6FF;
  padding: 16px;
}