.navbar{
    display: flex;
    align-content: space-between;
    width: 100vw;
    background-color: #7AB6FF;
    color: #FFFAEB;
    position: sticky;
    height: 50px;
    overflow: hidden;
    top: 0;
}

.styledLink{
    display: flex;
    color: #FFFAEB;
    text-decoration: none;
    width: 25vw;
    justify-content: center;
    padding: 14px 16px;
    align-items: center;
    font-size: large;
}

.styledLink:hover {
    background: #999550;
    color: #FFFAEB;
  }